<div class="home-content">
	<h3>About Our Project Manager</h3>
	<p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. </p>
	<ul class="about-list">
		<li>Feature 1. Details details details details.</li>
		<li>Feature 2. Details details details details.</li>
		<li>Feature 3. Details demons  details details.</li>
		<li>Feature 4. Details details details details.</li>
		<li>Feature 5. Details details details details.</li>
	</ul>
	<p>The medulla voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem superior colliculus virus. Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum cerebro.</p>
</div>