<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Email</th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>