/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */

$navbar-height: 100px;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



.main-body {
	padding-top: 105px;
}

.navbar {
	background-color: #7B8D53;
}

.nav-text {
	font-size: 1.5em;
}

.navbar-inverse
.navbar-brand {
	color: #2B382F;
	font-size: 4em;
	font-weight: bold;
	font-family: 'Futura';
	font-variant: small-caps;
	&:hover {
		color: #FAEAD0;
	}
}

.navbar-inverse 
.navbar-nav > li > a {
	color: #FAEAD0;
	&:hover {
		color: #2B382F;
	}
}

.logo {
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 30px;
}

body {
	background-color: #313131;
	color: #FAEAD0;
}

.col-md-2 {
	padding-top: 20px;
}

.sidebar-header {
	font-family: 'Futura';
	font-size: 2.5em;
	text-align: center;
}

.sidebar-list {
	list-style: none;
	li {
		font-size: 1.5em;
		color: #7B8D53;
		&:hover {
			color: #FAEAD0;
		}
	}
}

.home-content {
	padding-top: 25px;
	padding-left: 20px;
	h3 {
		font-size: 2em;
		padding-bottom: 15px;
		text-align: right;
		color: #7B8D53;
	}
	p {
		font-family: 'Futura';
		font-size: 1.5em;
		text-align: justify;
		padding-bottom: 20px;
	}
}

.about-list {
	list-style: none;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	li {
		font-size: 1.5em;
		color: #7B8D53;
	}
}

/* ----------------------------

         Media Queries

------------------------------ */

@media screen and (max-width: 1050px) {
	.nav-text {
		font-size: 1em;
	}

	.navbar-inverse
	.navbar-brand {
		font-size: 3em;
	}

	.home-content {
		p {
			font-size: 1.25em;
		}
	}

	.sidebar-header {
		font-size: 2em;
	}

	.sidebar-list {
		li {
			font-size: 1em;
		}
	}

	.about-list {
		padding: none;
		li {
			font-size: 1.25em;
		}
	}
}



