// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table_div {

.table-list {
  list-style: none;
  tr {
    font-size: 1.2em;
    color: #FAEAD0;
  }
}
.table {
  background-color: #080202;
}

}

