<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container page-top">
  	<%= image_tag "DPL-beaker.png", class: "navbar-brand logo" %>
    <%= link_to "DPL Project Manager", root_path, class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path, class: "nav-text" %></li>
        <li><%= link_to "About", about_path, class: "nav-text" %></li>
        <li class="dropdown">
+          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">The Team <span class="caret"></span></a>
+          <ul class="dropdown-menu" role="menu">
+            <li><a href="https://devpointlabs.slack.com/team/parkjoonw">Joon</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/cwcarlson10">Chris</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/siskandarian">Seta</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/craig10n">Craig</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/n.vo">Nick V.</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/evjay">Evan</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/lindsayhammon">Lindsay</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/zcid">Nick H.</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/annenichols">Ann</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/amandawalter">Amanda</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/topher">Topher</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/markymarrk">Marcos</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/kmowie">Konrad</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/gollum">Kevin</a></li>
+            <li><a href="https://devpointlabs.slack.com/team/kuddox">Khuong</a></li>
+          </ul>
+        </li>
      </ul>
    </nav>
  </div>
</header>
